
    .LoginDiv{
        font-size: 3vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50vh;
        height: 50vh;
        border-radius:5px ;
        animation: fadeIn 0.5s ease-in-out;
        .inputCont{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 45vh;
            font-size: 3vh;
            // border: solid 1px red;
            input{
                font-size: 3vh;
                height: 5vh;
                width: 100%;
                border-radius: 5px;
            }
        }
        .server-settings{
            display: flex;
            flex-direction: row;
            margin-right:5px;
            margin-bottom: 5px;
            justify-content: flex-end;
            // background-color: red;
            width: 100%;
            color:#aaa;
            :hover{
                color: purple;
                cursor: pointer;
            }
        }
  
      h2{
        color: purple;
        font-weight: bolder;
        // background-color: red;
        text-align: center;
      }
    }


