
    .LoginDiv{
        font-size: 3vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50vh;
        height: 50vh;
        border-radius:10px ;
        .inputCont{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 45vh;
            font-size: 3vh;
            // border: solid 1px red;
            input{
                font-size: 3vh;
                height: 5vh;
                width: 100%;
                border-radius: 5px;
            }
        }
      
    }


