.logs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin: 0 3vh 0;
    width:100% ;
    height: fit-content;
    .logsBody{
        height: 70vh;
        width: 80%;
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        animation: fadeIn 0.5s ease-in-out;
        overflow-y: auto;
        box-shadow: 0 0 20px black;
        .message-table {
            width: 100%;
            border-collapse: collapse;
            th,td{
                border: 1px solid #ddd;
                padding: 8px;
                text-align: left;  
            }
            th{
                background-color: #f2f2f2;
            }
            tr:nth-child(even) {
                background-color: #f9f9f9;
            }
            tr:hover {
                background-color: #ddd;
                cursor: pointer;
            }
        }
    }
.btn_clear{
background-color: purple;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 4px;
width: 10%;
height: 3vh;
color: white;
border: solid 1px purple;

border-radius: 3px;
&:hover{
border: solid 1px white;
background-color: transparent;
color: white;
cursor: pointer;
font-weight: bolder;

}
}
}