/* src/components/Sidebar.css */
.sidebar {
    width: 200px;
    height: 95.5vh;
    background:  linear-gradient(to bottom, purple, gray);
    color: white;
    padding: 20px;
    position: absolute;
    // border: solid 1px black;
    border-radius: 10px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    div{
        margin-left: 90%;
        font-size: 1.5vh;
        &:hover{
            color:#aaa;
          text-decoration: none;
            cursor: pointer;
        }
    }

    // li{

    // }

  }
  
  .sidebar h2 {
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    // background-color: pink;
  }
  
  .sidebar ul li {
    margin: 10px 0;
    text-decoration: none;
    width: 100%;
    // background-color: blue;

  
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .sidebar ul li a:hover {
    text-decoration: underline;
  }
  @keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%); /* Start off-screen to the left */
        opacity: 0; /* Start invisible */
    }
    100% {
        transform: translateX(0); /* End at original position */
        opacity: 1; /* Fully visible */
    }
}
.slide-in {
    animation: slideInFromLeft 0.5s ease forwards; /* Adjust duration and easing as needed */
}